In [76]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

In [77]:
df = pd.read_csv("data\\Hyundai_ml.csv")

In [78]:
df.head()

,Unnamed: 0,year,price,total_run,tax,engineSize,mileage_lit,model_ I10,model_ I20,model_ I30,...,model_ Ioniq,model_ Kona,model_ Santa Fe,model_ Tucson,transmission_Automatic,transmission_Manual,transmission_Semi-Auto,fule_Diesel,fule_Hybrid,fule_Petrol
0,0,2017,7999,17307,145,1.2,15.56,0,1,0,...,0,0,0,0,0,1,0,0,0,1
1,1,2016,14499,25233,235,2.0,11.49,0,0,0,...,0,0,0,1,1,0,0,1,0,0
2,2,2016,11399,37877,30,1.7,16.30,0,0,0,...,0,0,0,1,0,1,0,1,0,0
3,3,2016,6499,23789,20,1.0,15.88,1,0,0,...,0,0,0,0,0,1,0,0,0,1
4,4,2015,10199,33177,160,2.0,13.58,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [79]:
from sklearn.model_selection import train_test_split
x = df.drop('price',axis=1)
y = df['price']
x.shape,y.shape

((4782, 23), (4782,))

In [80]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=51)

In [81]:
x_train.shape , x_test.shape , y_train.shape , y_test.shape

((3825, 23), (957, 23), (3825,), (957,))

In [89]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

q = sc.fit(x_train)
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

In [107]:
x = np.insert(x_train,23,1,axis=1)
y = np.array(y_train)
y = np.reshape(y,(3825,1))

In [108]:
x.shape,y.shape

((3825, 24), (3825, 1))

In [121]:
def cost(data,params):
    tot_cost = 0
    for i in range(3825):
        tot_cost += (1/3825)*((data[i]*params).sum() - y[i])**2
    return tot_cost

def gd(data,params,lrate,itr_val):
    for i in range(itr_val):
        slope = np.zeros(24)
        for j in range(3825):
            for k in range(24):
                slope[k] += (1/3825)*((data[j]*params).sum()-y[j])*data[j][k]
        params = params - lrate * slope
        print(cost(data,params))
    return params

params = np.zeros(24)
lrate = 0.2
itr_val = 100 
params = gd(x,params,lrate,itr_val)
print(params)

[1.15511627e+08]
[73982453.436605]
[48624820.04902029]
[32590983.35576842]
[22349787.6712388]
[15779483.16031935]
[11551661.61073967]
[8823369.8413778]
[7056958.33626714]
[5908672.10776843]
[5158386.31349577]
[4664960.66183383]
[4337780.18449057]
[4118582.98879228]
[3969843.70288457]
[3867341.21988669]
[3795399.92689483]
[3743840.46116592]
[3706024.32747198]
[3677598.8585193]
[3655690.83597577]
[3638387.71775147]
[3624403.36061321]
[3612862.19217038]
[3603159.50612462]
[3594870.74038012]
[3587692.3235005]
[3581402.90665022]
[3575837.79278456]
[3570871.93685659]
[3566408.53503199]
[3562371.27694364]
[3558699.01394959]
[3555342.03338029]
[3552259.41050821]
[3549417.09197404]
[3546786.48226656]
[3544343.38142601]
[3542067.17208647]
[3539940.18671803]
[3537947.20753097]
[3536075.06586674]
[3534312.31753819]
[3532648.97712286]
[3531076.29870973]
[3529586.59373796]
[3528173.07879146]
[3526829.74781999]
[3525551.26443734]
[3524332.87083152]
[3523170.31049438]
[3522059.76249892]
[3520997.7854617]
[3519981.26965342]
[3519007.39598266]
[3518073.60079052]
[3517177.545568]
[3516317.09085155]
[3515490.27367105]
[3514695.28802293]
[3513930.46792405]
[3513194.27267021]
[3512485.27398192]
[3511802.14476749]
[3511143.64927513]
[3510508.6344401]
[3509896.02226152]
[3509304.80306851]
[3508734.02955549]
[3508182.81148476]
[3507650.31096834]
[3507135.73825464]
[3506638.34795547]
[3506157.43565822]
[3505692.33487599]
[3505242.41429451]
[3504807.0752808]
[3504385.74962292]
[3503977.89747442]
[3503583.0054805]
[3503200.58506594]
[3502830.17086737]
[3502471.31929467]
[3502123.60720815]
[3501786.6306999]
[3501460.00396884]
[3501143.35828064]
[3500836.34100432]
[3500538.61471837]
[3500249.85638033]
[3499969.75655398]
[3499698.0186891]
[3499434.35844968]
[3499178.503086]
[3498930.19084746]
[3498689.17043266]
[3498455.20047377]
[3498228.04905279]
[3498007.49324693]
[3497793.31870125]
[  147.23846659  1930.12473238 -1171.61744977  -746.26815313
  1593.5712657  -1867.32228707  -816.59370809  -439.3518364
   139.06468671   -61.3506556   -670.77385019  -526.55585229
   -61.52018114   319.27070384   484.2486179   1281.49476111
   400.100662     -17.39547184  -275.947264     392.2468309
    58.41878687  1161.29793904  -666.22416928 12788.70614119]

In [114]:
np.sqrt(3524690.45889905)

1877.415899287915

In [122]:
np.sqrt(3497793.31870125)

1870.2388400151597

In [119]:
l=[ 1.46658657e+02,  1.88386913e+03, -1.22084675e+03, -7.06718342e+02,
  1.49038891e+03, -1.68394252e+03, -9.42941447e+02, -5.01631595e+02,
  1.19611718e+02, -3.92035660e+01, -5.44048095e+02, -5.42913810e+02,
 -2.43652181e+01,  3.12767031e+02,  4.60098024e+02,  1.38854530e+03,
  4.82374575e+02,  4.00580026e+00, -2.98634040e+02,  4.00109685e+02,
  7.29578619e+00,  1.08112324e+03, -5.75074818e+02,  1.27883665e+04,]

In [120]:
len(l)

24